body {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 75px;
}

.footer {
    background-color: #4e5d6c !important;
}

#dncalendar-header h2{
    color: #ebebeb;
}

.dncalendar-body thead tr td{
    color: #ebebeb !important;
}

select{
    color:#2a323a !important;
}