<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/js/s_calendar.js"></script>
    <script src="/js/calendar.js"></script>
    <script src="/js/admin.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/frontpage.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">


    <link href="/css/calendar.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="/js/bootstrap.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vacation Management Admin</title>

    <script>
        $(document).ready(function(){
           $('.user_change').change(function () {
               alert(this.id);
           });
           $('.request_change').change(function () {
               alert(this.id);
           });
        });
    </script>
$.ajax({
    type: "POST",
    url: '/request-vac',
    data: {date: req_date}
}).done(function (response) {
    location.reload();
}).fail(function (data) {
    data = JSON.parse(data.responseText)
    alert(data.error)
})
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Vacation Management</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="" 0><a><img src="{{ account['picture'] }}" style="max-height:19px"> &nbsp;
                {{ account['name'] }} ({{ usergroup.title() }})</a></li>
            <li class="active"><a href="#">My Calendar</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">User</div>
            <div class="col-md-4">User Group</div>
            <div class="col-md-4">Change User Group</div>
            {% for acc in accounts %}
            <div class="col-md-4">{{acc['user']}}</div>
            <div class="col-md-4">{{acc['usergroup']}}</div>
            <div class="col-md-4">
                <select class="user_change" id="{{acc['user']}}">
                    <option value="admin" {%if acc['usergroup']=='admin' %}selected="selected"{%endif%}>Admin</option>
                    <option value="employee" {%if acc['usergroup']=='employee' %}selected="selected"{%endif%}>Employee</option>
                    <option value="viewer" {%if acc['usergroup']=='viewer' %}selected="selected"{%endif%}>Viewer</option>
                </select>
            </div>
            {% endfor %}
        </div>

        <div class="col-md-12">
            <div style="border-bottom: 1px solid #888888;margin:20px 0 20px 0"></div>
            <div class="col-md-4">User</div>
            <div class="col-md-4">Vacation Request</div>
            <div class="col-md-4">Action</div>
            {% for req in requests %}
            <div class="col-md-4">{{req['user']}}</div>
            <div class="col-md-4">{{req['date']}}</div>
            <div class="col-md-4">
                <select class="request_change" data-date="{{req['date']}}" id="{{req['user']}}">
                    <option value="admin" {%if req['status']=='pending' %}selected="selected"{%endif%}>Pending</option>
                    <option value="viewer" {%if req['status']=='accepted' %}selected="selected"{%endif%}>Accepted</option>
                    <option value="pending" {%if req['status']=='declined' %}selected="selected"{%endif%}>Declined</option>
                </select>
            </div>
            {% endfor %}
            <hr>
        </div>
    </div>
    <div class="footer navbar-fixed-bottom">
        <center>Vacation Management - Made by Márk Ibolya</center>
    </div>
</body>
</html>